
  
{% extends 'base.html' %}
{% macro display_pitches(pitches) %}
<div class="container pitch">
    <!-- <div class="pitch"> -->
    <div class="row">
        <div class="col-md-4">
           {% if pitches %}
          {% for pitch in pitches %}
           <div class="card pitchCard" style="width: 25rem;">
                <div class="card-body">
                    <h5 class="card-title">{{pitch.category}}</h5>
                    <p>{{pitch.title}}</p>
                    <p>{{pitch.content}}</p>
                    <div class="footer">
                        <div class="comments">
                            <a href="/comment/{{pitch.id}}"><button class="btn btn-dark">Comment</button></a>
                        </div>
                        <div class="votes">
                            <div class="upvote">
                            <a href="/like/{{pitch.id}}"><button class="btn btn-info"><i class="bi bi-hand-thumbs-up"></i> {{pitch.upvotes.count()}}</button></a>
                        </div>
                        <div class="downvote">
                            <a href="/dislike/{{pitch.id}}"><button class="btn btn-danger"><i class="bi bi-hand-thumbs-down"></i> {{pitch.downvotes.count()}}</button></a>
                        </div>

                        </div>
                    </div>
                </div>
           </div>
          {% endfor %}
         {% endif %}
        </div>
    </div>
<!-- </div> -->
</div>
{% endmacro %}