{% extends "base.html"%}
{% block title %}Log in{% endblock %}

{% block content %}
<form method="POST">
<h3 align="center">
    login
</h3>
<div class="form-group">
    <label for="Email address">
        Email adress
    </label>
    <input 
    type="text"
    id="email"
    class="form-control"
    placeholder="enter email"
    />

    <label for="password">
        password
    </label>
    <input 
    type="password"
    id="password"
    class="form-control"
    placeholder="enter password"
    />
    <br>
    <div align="center">
        <button class="btn btn-primary" type="submit">Login</button>
    </div>
   
</div>
</form>


{% endblock %}